<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - Análisis del Clima</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="dark-theme">
    <!-- Contenedor Principal -->
    <div class="container">
        <h1>🌧️  Ocurrió un Error  ☀️</h1>
        <p>Hubo un problema al obtener los datos del clima.<br>
           Por favor, intenta con otra ciudad o verifica que el nombre esté en inglés.</p>
        <a href="/" class="button large-button">Volver al Inicio</a>
    </div>

    <!-- Script adicional -->
    <script>
        document.addEventListener('DOMContentLoaded', () => {
        });
    </script>
</body>
</html>
